    /* ASIENTOS */
    
    .asiento_disponible {
        width: 150px;
        height: 100px;
        color: white;
        position: relative;
        background-color: gray;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 10px;
    }
    
    .asiento_disponible_div {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
    }
    
    .border-boton {
        border-radius: 10px;
        background-color: #6800ff;
    }
    
    .pointer {
        cursor: pointer;
    }
    
    .border-circular {
        border-radius: 25px;
    }
    /* The switch - the box around the slider */
    
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    /* Hide default HTML checkbox */
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* The slider */
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #2196F3;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
    
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }
    
    .activec,
    .collapsible:hover {
        background-color: #555;
    }
    
    .contentc {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
    /* STESPS */
    /* text
 */
    
    .text-celeste {
        color: #279eff;
    }
    /* text */
    /*Background color*/
    
    #grad1 {
        background-color: #9C27B0;
        background-image: linear-gradient(120deg, #FF4081, #81D4FA);
    }
    /*form styles*/
    
    #msform {
        text-align: center;
        position: relative;
        margin-top: 20px;
    }
    
    #msform fieldset .form-card {
        background: white;
        border: 0 none;
        border-radius: 0px;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
        padding: 20px 40px 30px 40px;
        box-sizing: border-box;
        width: 94%;
        margin: 0 3% 20px 3%;
        /*stacking fieldsets above each other*/
        position: relative;
    }
    
    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        /*stacking fieldsets above each other*/
        position: relative;
    }
    /*Hide all except first fieldset*/
    
    #msform fieldset:not(:first-of-type) {
        display: none;
    }
    
    #msform fieldset .form-card {
        text-align: left;
        color: #9E9E9E;
    }
    /* #msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0;
} */
    /*Blue Buttons*/
    
    #msform .action-button {
        width: 100px;
        background: skyblue;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
    }
    
    #msform .action-button:hover,
    #msform .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
    }
    /*Previous Buttons*/
    
    #msform .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px;
    }
    
    #msform .action-button-previous:hover,
    #msform .action-button-previous:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
    }
    /*Dropdown List Exp Date*/
    
    select.list-dt {
        border: none;
        outline: 0;
        border-bottom: 1px solid #ccc;
        padding: 2px 5px 3px 5px;
        margin: 2px;
    }
    
    select.list-dt:focus {
        border-bottom: 2px solid skyblue;
    }
    /*The background card*/
    
    .card {
        z-index: 0;
        border: none;
        border-radius: 0.5rem;
        position: relative;
    }
    /*FieldSet headings*/
    
    .fs-title {
        font-size: 25px;
        color: #2C3E50;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: left;
    }
    /*progressbar*/
    
    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey;
    }
    
    #progressbar .active {
        color: #000000;
    }
    
    #progressbar li {
        list-style-type: none;
        font-size: 12px;
        width: 25%;
        float: left;
        position: relative;
    }
    /*Icons in the ProgressBar*/
    
    #progressbar #account:before {
        font-family: FontAwesome;
        content: "\f090";
    }
    
    #progressbar #personal:before {
        font-family: FontAwesome;
        content: "\f090";
    }
    
    #progressbar #payment:before {
        font-family: FontAwesome;
        content: "\f090";
    }
    
    #progressbar #confirm:before {
        font-family: FontAwesome;
        content: "\f090";
    }
    /*ProgressBar before any progress*/
    
    #progressbar li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px;
    }
    /*ProgressBar connectors*/
    
    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1;
    }
    /*Color number of the step and the connector before it*/
    
    #progressbar li.active:before,
    #progressbar li.active:after {
        background: skyblue;
    }
    /*Imaged Radio Buttons*/
    
    .radio-group {
        position: relative;
        margin-bottom: 25px;
    }
    
    .radio {
        display: inline-block;
        width: 204;
        height: 104;
        border-radius: 0;
        background: lightblue;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        cursor: pointer;
        margin: 8px 2px;
    }
    
    .radio:hover {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    
    .radio.selected {
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    }
    /*Fit image in bootstrap div*/
    
    .fit-image {
        width: 100%;
        object-fit: cover;
    }
    /* STESPS */
    /* drag and drop */
    
    .contenedor {
        width: 100%;
    }
    
    .contenedor-lista {
        background: #F3F5FA;
        box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);
        border-radius: 10px;
    }
    
    .contenedor-lista h1 {
        text-transform: uppercase;
        font-size: 20px;
        background: #fff;
        height: 100px;
        display: flex;
        align-items: center;
        padding: 40px;
        border-radius: 10px 10px 0 0;
        margin-bottom: 0;
    }
    
    .lista {
        padding: 40px;
        width: 100%;
    }
    
    .lista .persona {
        background: #fff;
        display: grid;
        grid-template-columns: auto 1fr 1fr 1fr;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        cursor: move;
    }
    /* ? Clases para los estilos en los diferentes estados del drag and drop */
    
    .lista .persona.seleccionado {
        transform: scale(1.02) rotate(-1deg);
        box-shadow: 0px 0px 20px rgba(149, 153, 159, .16);
    }
    
    .lista .persona.fantasma {
        border: 2px dotted #000;
    }
    
    .lista .persona.drag {
        opacity: 0;
    }
    /* ? ------- */
    
    .lista .label {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 5px;
        color: #5173CF;
    }
    
    .lista .dato {
        font-weight: bold;
        font-size: 20px;
    }
    
    .lista .persona img {
        width: 70px;
        border-radius: 100%;
        margin-right: 40px;
    }
    /* drag and drop */
    
    .gris,
    .rojo,
    .verde {
        position: absolute;
    }
    
    .gris {
        z-index: 2;
    }
    
    .verde {
        z-index: 1;
    }
    
    .azul {
        z-index: 2;
    }
    /* LOADING */
    
    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #3498db;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }
    /* ACOR */
    
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }
    
    .accordion:hover {
        background-color: #ccc;
    }
    
    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
    /* ICONO NUMERO */
    
    .sidebar-social li {
        text-align: center;
        width: 31.9%;
        margin-bottom: 3px !important;
        display: inline-block;
        font-size: 10px;
        padding: 0;
    }
    
    .sidebar-social i {
        display: block;
        margin: 0 auto 10px auto;
        width: 32px;
        height: 32px;
        margin: 10px auto 0;
        line-height: 32px;
        text-align: center;
        font-size: 20px;
        color: #444444;
        margin-top: 0;
        padding-top: 5px;
    }
    
    .sidebar-social a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0;
    }
    
    .sidebar-social a span {
        color: black;
        font-size: 15px;
        padding: 5px 0 10px 0;
        display: block;
        text-transform: uppercase;
        font-family: 'Montserrat';
        letter-spacing: 1px;
    }
    /* CSS para posicionar el bade cerca del carrito*/
    
    .cart {
        position: relative;
    }
    
    #cart_menu_num {
        position: absolute;
        top: 0;
        left: 55%;
        background: red;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 2px;
    }
    /* ICONO NUMERO */
    /*  CARD*/
    
    .espacios-card {
        margin-left: 2px;
        margin-right: 2px;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        background-color: red;
    }
    
    .alig-izquierda {
        float: right;
    }
    
    .color-negrita {
        font-weight: bold;
    }
    /* TABLE */
    
    .table thead tr {
        font-size: 12px;
    }
    
    .table tbody tr td {
        font-size: 12px;
    }
    /* TABLE */